name: Deploy to DigitalOcean Droplet (Dev/Adhoc)

on:
  push:
    branches:
      - dev

  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy from'
        required: true
        default: 'dev'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.branch || github.ref_name }}

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt-get install -y docker-compose

    - name: Set environment variables
      run: |
        branch="${{ github.event.inputs.branch || github.ref_name }}"
        echo "Branch is $branch"

        if [ "$branch" = "dev" ]; then
          # CIABotOptions section
          echo "CIABOT_TOKEN=${{ secrets.CIABOT_TOKEN_DEV }}" >> .env
          echo "CIABOT_ADMIN_ID=${{ secrets.CIABOT_ADMIN_ID }}" >> .env
          echo "CIABOT_GUILD_ID=${{ secrets.CIABOT_GUILD_ID }}" >> .env
          echo "POSTGRES_DB=${{ secrets.DEV_POSTGRES_DB }}" >> .env
          echo "POSTGRES_USER=${{ secrets.DEV_POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.DEV_POSTGRES_PASSWORD }}" >> .env
          echo "CIABOT_SETTINGS_PATH=${{ secrets.CIABOT_SETTINGS_PATH }}" >> .env
          echo "POSTGRES_HOST=db" >> .env
          echo "IS_PRODUCTION=false" >> .env
          echo "DEBUG_CHANNEL_ID=1288950494911402024" >> .env

          # PaperTrailLogging section
          echo "PAPERTRAIL_LOG_DESTINATION=${{ secrets.PAPERTRAIL_LOG_DESTINATION_DEV }}" >> .env
          echo "PAPERTRAIL_LOG_PORT=${{ secrets.PAPERTRAIL_LOG_PORT_DEV }}" >> .env

          # Additional environment variables for Docker Compose setup
          echo "CIABOT_CONTAINER_NAME=ciabot_public" >> .env
          echo "POSTGRES_CONTAINER_NAME=ciabot_postgres" >> .env
          echo "CIABOT_NETWORK_PORT=5432" >> .env
          echo "CIABOT_PORT=81" >> .env
          echo "DEPLOY_PATH=/root/ciabot-public" >> .env
          echo "CIABOT_NETWORK_NAME=ciabot_network" >> .env
          echo "COMPOSE_FILE=docker-compose.dev.yml" >> .env

          # Set environment variables for GitHub Actions
          echo "DEPLOY_PATH=/root/ciabot-public" >> $GITHUB_ENV
          echo "CIABOT_NETWORK_NAME=ciabot_network" >> $GITHUB_ENV
          echo "COMPOSE_FILE=docker-compose.dev.yml" >> $GITHUB_ENV
        else
          # CIABotOptions section for adhoc deployments
          echo "CIABOT_TOKEN=${{ secrets.CIABOT_TOKEN_ADHOC }}" >> .env
          echo "CIABOT_ADMIN_ID=${{ secrets.CIABOT_ADMIN_ID }}" >> .env
          echo "CIABOT_GUILD_ID=${{ secrets.CIABOT_GUILD_ID }}" >> .env
          echo "POSTGRES_DB=${{ secrets.ADHOC_POSTGRES_DB }}" >> .env
          echo "POSTGRES_USER=${{ secrets.ADHOC_POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.ADHOC_POSTGRES_PASSWORD }}" >> .env
          echo "CIABOT_SETTINGS_PATH=${{ secrets.CIABOT_SETTINGS_PATH }}" >> .env
          echo "POSTGRES_HOST=db" >> .env
          echo "IS_PRODUCTION=true" >> .env
          echo "DEBUG_CHANNEL_ID=1288950494911402024" >> .env

          # PaperTrailLogging section
          echo "PAPERTRAIL_LOG_DESTINATION=${{ secrets.PAPERTRAIL_LOG_DESTINATION_ADHOC }}" >> .env
          echo "PAPERTRAIL_LOG_PORT=${{ secrets.PAPERTRAIL_LOG_PORT_ADHOC }}" >> .env

          # Additional environment variables for Docker Compose setup
          echo "CIABOT_CONTAINER_NAME=ciabot_public" >> .env
          echo "POSTGRES_CONTAINER_NAME=ciabot_postgres" >> .env
          echo "CIABOT_NETWORK_PORT=5432" >> .env
          echo "CIABOT_PORT=81" >> .env
          echo "DEPLOY_PATH=/root/ciabot-public" >> .env
          echo "CIABOT_NETWORK_NAME=ciabot_network" >> .env
          echo "COMPOSE_FILE=docker-compose.adhoc.yml" >> .env

          # Set environment variables for GitHub Actions
          echo "DEPLOY_PATH=/root/ciabot-public" >> $GITHUB_ENV
          echo "CIABOT_NETWORK_NAME=ciabot_network" >> $GITHUB_ENV
          echo "COMPOSE_FILE=docker-compose.adhoc.yml" >> $GITHUB_ENV
        fi

    - name: Replace appsettings.json
      run: |
        branch="${{ github.event.inputs.branch || github.ref_name }}"
        echo "Branch is $branch"
        
        if [ "$branch" = "dev" ]; then
          printf '%s\n' "${{ secrets.APP_SETTINGS_DEV }}" > CIA.Net.Public.Bot/appsettings.json
        else
          printf '%s\n' "${{ secrets.APP_SETTINGS_ADHOC }}" > CIA.Net.Public.Bot/appsettings.json
        fi

    - name: Create Docker Network if not exists
      run: |
        if ! docker network ls --format '{{.Name}}' | grep -w "${CIABOT_NETWORK_NAME}"; then
          echo "Creating network ${CIABOT_NETWORK_NAME}"
          docker network create ${CIABOT_NETWORK_NAME}
        else
          echo "Network ${CIABOT_NETWORK_NAME} already exists"
        fi

    - name: Build Docker image
      run: docker compose --env-file .env -f ${{ env.COMPOSE_FILE }} build

    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.DO_SSH_KEY }}

    - name: Deploy to DigitalOcean Droplet
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }} \
        "docker compose -f ${{ env.COMPOSE_FILE }} down || true"
        
        scp -o StrictHostKeyChecking=no -r * ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }}:${{ env.DEPLOY_PATH }}
        
        ssh -o StrictHostKeyChecking=no ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }} \
        "cd ${{ env.DEPLOY_PATH }} && docker compose --env-file .env -f ${{ env.COMPOSE_FILE }} up -d --build"
